<% include ../partials/header %>
<div class="ui container">
    <h2 class="ui center aligned header">
        <div class="content">
            Your lists
        </div>
    </h2>
    <div class="ui centered stackable link cards">
        <% lists.forEach(list => { %>
        <a class="card" href="/index/<%= list._id %>">
            <div class="content">
                <div class="header">
                    <%= list.name %><span style="float: right">
                        <%= list.language %></span></div>
                <div class="description">
                    <%= list.description %>
                </div>
            </div>
            <div class="ui bottom attached green button">
                <i class="add icon"></i>
                Add new word
            </div>
        </a>
        <% }) %>
    </div>
    <h2>The lists you follow</h2>
    <div class="ui centered stackable link cards">
        <% if(user && followedLists) {%>
        <% followedLists.forEach(list => { %>
        <a class="card" href="/index/<%= list._id %>">
            <div class="content">
                <div class="header">
                    <%= list.name %><span style="float: right">
                        <%= list.language %></span></div>
                <div class="description">
                    <%= list.description %>
                </div>
            </div>
            <div class="ui bottom attached green button">
                <i class="add icon"></i>
                Add new word
            </div>
        </a>
        <% }) %>
    </div>
    <% } %>
</div>
<% include ../partials/footer %>