<% include ../partials/header %>
<div class="ui container">
    <h2 class="ui center aligned header">
        <div class="content">
            <%= list.name %>
        </div>
    </h2>
    <p><%= list.description %></p> 
    <% if(list.author.username) { %>
        <p>Created by <%=list.author.username%></p>
    <% } %>
    <div class="showPageButtons">
        <a href="/index/<%= list._id %>/pdfexport" class="ui button">Export to PDF</a>
        
        <% if(user && list.author.id.equals(user._id)) { %>
        <a href="/index/<%= list._id %>/edit" class="ui button">Edit</a>
        <form action="/index/<%= list._id %>?_method=DELETE" method="POST">
            <button class="ui button">Remove</button>
        </form>
        <% } else if(!user || !(list.followedBy.some((element) => {return element._id.equals(user._id)}))){ %>
            <form action="/index/<%= list._id %>/follow" method="POST">
                <button class="ui button" >Follow</button>
            </form>
        <% } else { %>
            <form action="/index/<%= list._id %>/unfollow" method="POST">
                <button class="ui button">Unfollow</button>
            </form>
        <% } %>
    </div>
    <table class="ui celled table" data-listid="<%= list._id %>">
        <thead>
            <tr>
                <th>Word</th>
                <th>Translation</th>
            </tr>
        </thead>
        <tbody>
            <% if(user && list.author.id.equals(user._id)) { %>
            <tr>
                <form id="newWordForm" class="ui form" action="/index/<%= list._id %>/words" method="POST">
                <td data-label="Word">
                    <div class="ui input">
                        <input id="newWordOriginal" type="text" name="word[original]" placeholder="Word">
                    </div>
                </td>
                <td data-label="Translation">
                    <div class="ui input">
                        <input id="newWordTranslation" type="text" name="word[translation]" placeholder="Translation">
                    </div>
                    <button class="ui button" type="submit" style="float: right">Submit</button>
                </td>
                </form>
            </tr>
            <% } %>
            <% list.words.forEach(word => { %>
            <tr class="wordRow" data-wordid="<%= word._id %>">
                <td data-label="Word"><span><%= word.original %></span></td>
                <td data-label="Translation">
                    <span><%= word.translation %></span>
                    <% if(user && list.author.id.equals(user._id)) { %>
                    <button class="ui button editButton" style="float: right">Edit</button>
                    <form class="deleteForm" action="/index/<%= list._id %>/words/<%= word._id %>" method="POST">
                        <button type="submit" class="ui button removeButton" style="float: right">Remove</button>
                    </form>
                    <% } %>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>
<div id="dialog-form" title="Edit word">
   
    <form id="editForm" class="ui form" action="/index/<%= list._id %>/words/" method="POST">
      <fieldset>
        <label for="word">Word</label>
        <input type="text" name="word[original]" id="word" value="" class="text ui-widget-content ui-corner-all">
        <label for="translation">Translation</label>
        <input type="text" name="word[translation]" id="translation" value="" class="text ui-widget-content ui-corner-all">
   
        <!-- Allow form submission with keyboard without duplicating the dialog button -->
        <button class="ui button" type="submit" style="float: right">Submit</button>
        <!-- <input type="submit" tabindex="-1" style="position:absolute; top:-1000px"> -->
      </fieldset>
    </form>
  </div>
<script src="/scripts/listShowPage.js"></script>
<% include ../partials/footer %>